.bootstrap-mmowgli ul > li {
  list-style: none;
}

.bootstrap-mmowgli a,
.bootstrap-mmowgli a:hover {
 border: 0 !important;
 text-decoration: none;
}

.bootstrap-mmowgli .new-game-card {
  width: 100%;
}
